/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; /* gap between rows and columns */
}

.row {
  display: contents;
}

/* @import "primeicons/primeicons.css" */
